<div class="section-header">
  <span><%= link_to 'Your Account', users_your_account_path, :class => "#{'active' if action_name == 'your_account'} section-link" %></span>
  <span><%= link_to 'Your Ads', users_your_ads_path, :class => "#{'active' if action_name == 'your_ads'} section-link" %></span>
</div>
<style>
  .section-header{
  	border-bottom: 1px solid #dddddd;
  	padding-bottom: 8px;
  }
  .section-link{
  	color: #333333;
    margin-left: 20px;
    padding: 10px 10px 5px 10px;
  }
  a.section-link:hover, a.section-link:focus{
  	color: #333333;
  	text-decoration: none !important;
  }
  .section-header .active{
  	border: 1px solid #dddddd;
  	border-bottom: 1px solid #ffffff;
  	font-weight: bold;
  }
</style>
