<div id='new-property'>
	<div class='row'>
	  <div class='large-12 columns'>
	    <h3 class='page-title'>Editing property</h3>
	  </div>
	</div>
	<div class='row'>
		<div class='large-12 columns'>
	    <%= render 'form' %>
	  </div>
	</div>
</div>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>
