<h3 class='page-title'>Editing property</h3>
<div class='row'>
	<div class='large-6 columns'>
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>
