<div id='new-property'>
	<div class='row'>
	  <div class='large-12 columns'>
	    <h3 class='page-title'>Enter Details of <%= "#{params[:type].titlecase}" %></h3>
	  </div>
	</div>
	<div class='row'>
	  <div class='large-12 columns'>
	    <%= render 'form' %>
	  </div>
	</div>
</div>
