<div class='row'>
  <div class='large-6 columns'>
  	<fieldset>
  		<legend>Search for a property</legend>
      <%= render 'properties/search' %>
  	</fieldset>
  </div>
  <div class='large-6 columns'>
		<div id="banner-fade">
		  <ul class="bjqs">
		    <li><%= image_tag('banner1.png') %></li>
		    <li><%= image_tag('banner2.jpg') %></li>
		    <li><%= image_tag('banner1.png') %></li>
		  </ul>
		</div>
	</div>
</div>
