// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#property-index{
  .property-list{
    float:left;
  }
  .property-listing-large{
    display: table;
    font-size: 0.85em;
    padding: 10px 12px;
    .col{
      padding: 0 12px 0 0;
    }
  }
  .property-listing{
    background-color: #FFFFFF;
    border-top: 1px solid #F4F6F7;
    position: relative;
    transition: background-color 0.8s ease 0s;
    width: 100%;
    .float-left{
      float: left;
      overflow: hidden;
    }
    .photo img{
      width:200px;
      height:150px;
    }
    .property-type{
      color: #990000
    }
    .price{
      font-size: 1.2em;
    }
    .main-data{
      max-width: 160px;
      overflow: hidden;
    }
    .data{
      width: 400px;
    }
    clear:both;
  }
  .property-gallery{
    float : left;
  }
}