// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#property-index{
  .property-list{
    float:left;
  }
  .property-listing-large{
    display: table;
    font-size: 0.85em;
    padding: 10px 12px;
    .col{
      padding: 0 12px 0 0;
    }
  }
  .property-listing{
    background-color: #FFFFFF;
    border-top: 1px solid #F4F6F7;
    position: relative;
    transition: background-color 0.8s ease 0s;
    width: 100%;
    .float-left{
      float: left;
      overflow: hidden;
    }
    .photo img{
      width:200px;
      height:150px;
    }
    .property-type{
      color: #990000
    }
    .price{
      font-size: 1.2em;
    }
    .main-data{
      max-width: 160px;
      overflow: hidden;
    }
    .data{
      width: 400px;
    }
    clear:both;
  }
  .property-gallery{
    float : left;
  }
}

.property-search{
  .ui-helper-hidden-accessible{
    display: none;
  }
}

#listing-new-property{
  .listing-banner{
    background: url("listing-bg-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border: 2px solid #F4F4F4;
    border-bottom: 5px solid #F4F4F4;
    margin-bottom: 5px;
    .list-msg{
      padding: 0 0 10px 35px;
    }
    .title{
      padding: 5px 20px;
      font-style:italic;
    }
  }
  .single-listing{
    margin-left: 15px;
    border: 1px solid #F4F4F4;
    .content{
      padding: 0 20px;
      p{
        margin-top: 2px;
        font-size: 0.85em;
        border-top: 1px solid #F4F6F7;
      }
      .property-type{
        padding: 15px;
        border: 2px solid #F4F4F4;
        margin-bottom: 20px;
      }
    }
  }
}

#new-property{
  border: 1px solid #F4F4F4 ;
  border-radius: 10px;
  margin: 0 auto;
  width: 90%;
  .property-section-box{
    border: 10px solid #F4F4F4;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    .float-left{
      float: left;
    }
  }
  .property-address{
    .marginl-50{
      margin-left: 70px;
    }
    textarea{
      width:650px;
      height:100px;
    }
  }
}